body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#maze {
  display: grid;
  grid-template-columns: repeat(7, 80px);
  grid-template-rows: repeat(7, 80px);
  gap: 2px;
  border: 2px solid #fff; /* Adiciona borda ao redor do tabuleiro */
}

.cell {
  width: 80px;
  height: 80px;
  background-color: #ddd;
  position: relative;
}

/* Adicione estilos para representar o jogador, a parede e a saída */
.wall {
  background-color: #333; /* Cor das paredes */
}

.exit {
  background-color: #f00; /* Cor da saída */
}

.player {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCvj_ozhyjHJZsg8nmug7L-F1T3geEqxqXFQ&usqp=CAU') center center no-repeat;
  background-size: cover;
  animation: pulse 0.5s infinite alternate;
}

/* Adicione uma classe para destacar o ponto inicial */
.start {
  background-color: #0f0; /* Cor do ponto inicial (verde) */
}

@keyframes pulse {
  to {
    transform: scale(1.2);
  }
}
